<div class="row">
<div class="col-md-4 col-md-offset-4">
<div class="panel panel-default">
  <div class="panel-heading" jd-i18n>Login</div>
  <div class="panel-body">    
    <form ng-submit="vm.login()">
      <input type="text" class="form-control" placeholder="Login" ng-model="vm.model.login">
      <input type="password" class="form-control" placeholder="Password" ng-model="vm.model.password">
      <input type="submit" name="name" value="Login" class="btn btn-default form-control">
    </form>
  </div>
</div>
</div>
</div>
